html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-color: #0a192f;
  color: #ccd6f6;
  font-family: "Noto Sans", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  font-weight: 300;
}

.button {
  border: 1px solid #64ffda;
  border-radius: 3px;
  padding: 12px 20px;
  text-align: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 40px auto;
  font-family: "IBM Plex Mono", "Courier New", Courier, monospace;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  color: #64ffda;
}

.button:hover {
  background-color: #64ffda;
  cursor: pointer;
}

.button:hover a {
  color: #0a192f;
}

.button a {
  text-decoration: none;
  color: #64ffda;
}

.blur_overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  display: none;
}

.show_blur {
  display: block;
}

header {
  position: fixed;
  height: 100px;
  width: 100vw;
  top: 0;
  left: 0;
  background-color: #0a192f;
  -webkit-transition: top 0.5s;
  transition: top 0.5s;
}

header .mobile_navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 0 25px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

header .mobile_navbar .mobile_menu {
  background-color: #112240;
  position: absolute;
  top: 0;
  right: 0;
  height: 100vh;
  width: 75vw;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  max-width: 380px;
}

header .mobile_navbar .mobile_menu a {
  text-decoration: none;
  color: #ccd6f6;
}

header .mobile_navbar .mobile_menu li {
  list-style: none;
  font-family: "IBM Plex Mono", "Courier New", Courier, monospace;
  text-align: center;
  margin: 20px 0;
  line-height: 1.7rem;
}

header .mobile_navbar .mobile_menu li .menu_number {
  color: #64ffda;
}

header .mobile_navbar .mobile_menu li .menu_item {
  font-size: 0.9rem;
}

header .mobile_navbar .mobile_menu .button a {
  color: #64ffda;
}

header .mobile_navbar .mobile_menu .button:hover a {
  color: #0a192f;
}

header .mobile_navbar .show_menu {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

header .mobile_navbar .burger_container input {
  position: absolute;
  top: 25px;
  right: 28px;
  display: none;
}

header .mobile_navbar .burger_container .burger_menu {
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

header .mobile_navbar .burger_container .burger_menu .burger_line {
  margin-bottom: 7px;
  width: 28px;
  height: 2px;
  background-color: #64ffda;
  position: relative;
}

main {
  padding: 0px 25px 0px 25px;
  font-size: 0.9rem;
  max-width: 1000px;
}

main h4 {
  font-family: "IBM Plex Mono", "Courier New", Courier, monospace;
  color: #64ffda;
  font-weight: 500;
  font-size: 1.3rem;
}

main .section {
  scroll-margin-top: 70px;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

main .intro {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .intro h1 {
  font-family: "IBM Plex Mono", "Courier New", Courier, monospace;
  color: #64ffda;
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 1rem;
}

main .intro h2 {
  font-size: 7.5vw;
  margin: 0;
  font-weight: 600;
}

main .intro .secondary_heading {
  color: #8892b0;
  line-height: 7.5vw;
}

main .intro p {
  color: #a8b2d1;
  line-height: 1.4rem;
  font-size: 0.9rem;
}

main .intro .social {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .intro .social a {
  margin: 0 15px 0 15px;
}

main .about {
  line-height: 1.5rem;
  max-width: 650px;
}

main .skillsTitle {
  font-family: "IBM Plex Mono", "Courier New", Courier, monospace;
  color: #64ffda;
  text-align: center;
}

main .skills {
  margin: 15px auto 0px auto;
  border: solid 1px #64ffda;
  border-radius: 5px;
  color: #64ffda;
  padding: 10px;
  text-align: center;
  font-size: 0.8rem;
  max-width: 250px;
  display: block;
  line-height: 1.5rem;
  font-family: "IBM Plex Mono", "Courier New", Courier, monospace;
}

main .projects {
  line-height: 1.5rem;
  margin-top: 50px;
}

main .projects .project_item {
  background-color: #112240;
  padding: 25px 25px;
  border-radius: 4px;
  margin-bottom: 15px;
}

main .projects .project_item h3 {
  margin: 0;
}

main .projects .project_item .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .projects .project_item .links img {
  width: 21px;
}

main .projects .project_item .links :first-child img {
  margin-right: 10px;
}

main .projects .project_item .project_tech_list {
  font-family: "IBM Plex Mono", "Courier New", Courier, monospace;
  font-size: 0.75rem;
  list-style-type: none;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  color: #8892b0;
}

main .projects .project_item .project_tech_list li {
  margin-right: 10px;
}

main .projects .project_item p {
  color: #a8b2d1;
}

main .contact {
  margin: 50px 0px 100px 0px;
  text-align: center;
}

main .contact div {
  color: #a8b2d1;
}

@media (min-width: 420px) {
  main h4 {
    font-size: 4vw;
  }
  main .intro {
    padding: 1rem;
  }
  main .intro p {
    font-size: 1rem;
  }
  main .about {
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 30px;
    font-size: 1rem;
  }
  main .projects {
    padding-left: 20px;
    padding-right: 20px;
  }
  main .projects .project_item {
    margin-bottom: 30px;
  }
  main .projects .project_item h3 {
    font-size: 3.5vw;
  }
}

@media (min-width: 500px) {
  header .mobile_navbar .mobile_menu {
    font-size: 1.1rem;
  }
  header .mobile_navbar .mobile_menu li .menu_item {
    font-size: 1rem;
  }
  header .mobile_navbar .mobile_menu .button {
    font-size: 1rem;
  }
  main .contact {
    padding: 40px;
  }
  main .contact div {
    font-size: 1rem;
  }
}

@media (min-width: 640px) {
  main h4 {
    font-size: 1.6rem;
  }
  main .intro h2 {
    font-size: 3rem;
  }
  main .intro .secondary_heading {
    line-height: 3rem;
  }
  main .skillsTitle {
    font-size: 1.1rem;
  }
  main .skills {
    font-size: 0.9rem;
  }
  main .projects .project_item {
    padding: 40px;
  }
  main .projects .project_item h3 {
    font-size: 1.2rem;
  }
  main .contact {
    padding: 60px;
  }
}

@media (min-width: 760px) {
  .blur_overlay {
    display: none;
  }
  header .mobile_navbar .mobile_menu {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    height: 100px;
    width: 100vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    max-width: none;
    background-color: #0a192f;
    font-size: 0.8rem;
  }
  header .mobile_navbar .mobile_menu a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  header .mobile_navbar .mobile_menu a :first-child {
    margin-right: 5px;
  }
  header .mobile_navbar .mobile_menu li {
    margin-right: 40px;
  }
  header .mobile_navbar .mobile_menu li .menu_item {
    font-size: 0.8rem;
  }
  header .mobile_navbar .mobile_menu .button {
    font-size: 0.8rem;
    padding: 3px 14px;
    color: #64ffda;
  }
  header .mobile_navbar .burger_container {
    display: none;
  }
  main .intro h1 {
    font-size: 1.1rem;
  }
  main .intro h2 {
    font-size: 4rem;
  }
  main .intro .secondary_heading {
    line-height: 4rem;
  }
  main .intro p {
    font-size: 1rem;
    max-width: 700px;
  }
}

@media (min-width: 930px) {
  main {
    margin: 0 auto;
  }
  main .intro h1 {
    font-size: 1.2rem;
  }
  main .intro h2 {
    font-size: 5rem;
  }
  main .intro .secondary_heading {
    line-height: 5rem;
  }
  main .intro p {
    font-size: 1.1rem;
  }
  main .intro .social {
    margin-top: 50px;
  }
  main .intro .social a svg {
    height: 30px;
    width: 30px;
  }
}

@media (min-width: 1100px) {
  header .mobile_navbar .mobile_menu .button {
    margin-right: 100px;
  }
}
/*# sourceMappingURL=styles.css.map */