$main_blue: #0a192f;
$main_grey: #ccd6f6;
$neon_green: #64ffda;
$darker_grey: #a8b2d1;
$darkest_grey: #8892b0;
$navy_lighter: #112240;

$font_mono: "IBM Plex Mono", "Courier New", Courier, monospace;
$font_sans: "Noto Sans", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
$nav_height: 100px;

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-color: $main_blue;
  color: $main_grey;
  font-family: $font_sans;
  margin: 0;
  font-weight: 300;
}

.button {
  border: 1px solid $neon_green;
  border-radius: 3px;
  padding: 12px 20px;
  text-align: center;
  width: fit-content;
  margin: 40px auto;
  font-family: $font_mono;
  transition: 0.5s;
  color: $neon_green;

  &:hover {
    background-color: $neon_green;
    cursor: pointer;

    a {
      color: $main_blue;
    }
  }

  a {
    text-decoration: none;
    color: $neon_green;
  }
}

.blur_overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  backdrop-filter: blur(3px);
  display: none;
}

.show_blur {
  display: block;
}

header {
  position: fixed;
  height: $nav_height;
  width: 100vw;
  top: 0;
  left: 0;
  background-color: $main_blue;
  transition: top 0.5s;

  .mobile_navbar {
    display: flex;
    justify-content: flex-end;
    padding: 0 25px;
    align-items: center;
    height: 100%;

    // .logo {
    //   color: $neon_green;
    //   letter-spacing: 2px;
    //   font-weight: 600;
    //   font-size: 1.3rem;
    // }

    .mobile_menu {
      background-color: $navy_lighter;
      position: absolute;
      top: 0;
      right: 0;
      height: 100vh;
      width: 75vw;
      margin: 0;
      padding: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      transition: transform 0.5s;
      transform: translateX(100%);

      a {
        text-decoration: none;
        color: $main_grey;
      }

      li {
        list-style: none;
        font-family: $font_mono;
        text-align: center;
        margin: 20px 0;
        line-height: 1.7rem;

        .menu_number {
          color: $neon_green;
        }

        .menu_item {
          font-size: 0.9rem;
        }
      }
    }

    .show_menu {
      transform: translateX(0);
    }

    .burger_container {
      input {
        position: absolute;
        top: 25px;
        right: 28px;
        display: none;
      }
      .burger_menu {
        height: $nav_height;
        display: flex;
        flex-direction: column;
        justify-content: center;
        cursor: pointer;
        .burger_line {
          margin-bottom: 7px;
          width: 28px;
          height: 2px;
          background-color: $neon_green;
          position: relative;
        }
      }
    }
  }
}

main {
  padding: 0px 25px 0px 25px;
  font-size: 0.9rem;

  h4 {
    font-family: $font_mono;
    color: $neon_green;
    font-weight: 500;
    font-size: 1.3rem;
  }

  .section {
    scroll-margin-top: 70px;
    transition: transform 0.5s;
  }

  .intro {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;

    h1 {
      font-family: $font_mono;
      color: $neon_green;
      font-size: 1rem;
      font-weight: 400;
      margin-bottom: 1rem;
    }

    h2 {
      font-size: 1.6rem;
      margin: 0;
      font-weight: 600;
    }

    .secondary_heading {
      color: $darkest_grey;
      line-height: 2rem;
    }

    p {
      color: $darker_grey;
      line-height: 1.4rem;
      font-size: 0.9rem;
    }

    .social {
      margin-top: 30px;
      display: flex;
      justify-content: center;
      align-items: center;

      a {
        margin: 0 15px 0 15px;
      }
    }
  }

  .about {
    line-height: 1.5rem;
  }

  .skillsTitle {
    font-family: $font_mono;
    color: $neon_green;
    text-align: center;
  }

  .skills {
    margin: 15px auto 0px auto;
    border: solid 1px $neon_green;
    border-radius: 5px;
    color: $neon_green;
    padding: 10px;
    text-align: center;
    font-size: 0.8rem;
    max-width: 250px;
    display: block;
    line-height: 1.5rem;
    font-family: $font_mono;
  }

  .projects {
    line-height: 1.5rem;
    margin-top: 50px;

    .project_item {
      background-color: $navy_lighter;
      padding: 25px 25px;
      border-radius: 4px;
      margin-bottom: 15px;

      h3 {
        margin: 0;
      }

      .title {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }

      .links {
        img {
          width: 21px;
        }

        :first-child img {
          margin-right: 10px;
        }
      }

      .project_tech_list {
        font-family: $font_mono;
        font-size: 0.75rem;
        list-style-type: none;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        color: $darkest_grey;

        li {
          margin-right: 10px;
        }
      }

      p {
        color: $darker_grey;
      }
    }
  }

  .contact {
    margin: 50px 0px 100px 0px;
    text-align: center;

    div {
      color: $darker_grey;
    }
  }
}
